.topright {
  float: right;
  font-size: 16px;
  position: relative;
  top: 18px;
  right: 16px;
}

.postcontainer::-webkit-scrollbar {
  display: none;
}

.postcontainer {
  padding: 0px;
  overflow-y: scroll;
  max-height: 430px;
  flex: 1;
}
